/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .example {background: red;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .example {background: green;}
  }

  @media only screen and (max-width: 768px) {
    .header-divider {
        display: none;
    }

    .header-image-container {
      clip-path: polygon(
        0% 100%, 
        100% 100%, 
        100% 0%, 
        0% 0%
      );
  
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;
      margin: 0;
      padding: 0;
      filter: brightness(.75);
  }
  } 
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .example {background: blue;}
  } 


  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .example {background: orange;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */

  @media only screen and (min-width: 1024px) { 
    .header-divider {

    }
  }

  @media only screen and (min-width: 3000px) {
    .example {background: pink;}
    
  }
