:root {
    --primary: #5215FC;
}
  
body {
    background-color: #f4f4f4;
    max-width: 1366px;
    margin: auto;
    position: relative;
    box-shadow: 10px 0 8px -5px #e9e1ff, -10px 0 8px -5px #e9e1ff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
}

p {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* Utilities */
.primary {
    background-color: var(--primary); 
    color: white;
    transition: all .25s;
}

.primary:hover {
 background-color: #3D1C9B;
}

.outline-primary {
    background-color: transparent;
    color: var(--primary);
    border-color: var(--primary);
    transition: all .25s;
}

.outline-primary:hover {
    background-color: var(--primary);
    color: white;
}

.bg-light-blue {
    background-color: #AFC9EF;
}

.bg-light-yellow {
    background-color: #E8D1AC;
}

.bg-light-violet {
    background-color: #FFBAD7;
}

/* Containers */
.colored-section {
    background-color: var(--primary);
    color: white;
}

.container-fluid {
    padding: 5% 10%;
}


/* Components */

/* Flowting Items in Background */
.bg-float {
    position: relative;
    width: 550px;
}

.bg-float1 {
    position: absolute;
    left: 0;
    top: 10%;
    overflow: hidden;
    padding: 10%;
}

.bg-float1 > object {
    rotate: -134deg;
    left: -68%;
}

/* Title */
#title {
    position: relative;
    width: 100%;
    /* height: 700px; */
    margin: 0;
    overflow: hidden;
}

.header-background {
    background-color: white;
    clip-path: polygon(
        0% 100%, 
        100% 100%, 
        75% 0%, 
        0% 0%
    );
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.header-image-container {
    clip-path: polygon(
        45% 100%, 
        100% 100%, 
        100% 0%, 
        10% 0%
    );
    margin: 0;
    padding: 0;

    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    filter: brightness(75%);
}

.header-image-container img {
    object-fit: cover;
    width: 100%;
    height: 700px;
}

.header-divider {
    position: absolute;
    right: 0;
    bottom: -10%;
    margin: 0;
}

.stripe {
    width: 10rem;
    height: 900px;
    color: white;
    rotate: 19deg;
    background: repeating-linear-gradient(
        90deg, 
        transparent,
        transparent 5%,
        var(--primary) 5%,
        var(--primary) 5% 33.3333333%
    );

    position: relative;
    left: 18.3%;
    z-index: 10;
}

.triangle {
    background-color: var(--primary);
    clip-path: polygon(
        0% 100%, 
        100% 100%, 
        100% 0%, 
        52.5% 0%
    );
    width: 525px;
    position: relative;
    z-index: 5;
}

.cover {
    object-fit: cover;
    width: 50px;
    height: 150px;
}

.header-content {
    padding: 0 5%;
    position: relative;
    z-index: 100;
}

/* Nav Bar */
.navbar {
    position: relative;
    z-index: 100;
    padding: 0;
}

.navbar-brand > img {
    width: 50px;
    height: 50px;
}

.navbar-brand .brand-name {
    display: inline-block;
    font-size: .9rem;
    margin-left: 20px;
    max-width: 200px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: normal;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    color: white;
    text-transform: uppercase;
    font-size: .9rem;
}

/* Header Content */
.container-fluid.header-content {
    padding: 5% 5% 19%;
}

.header {
    margin-top: 6rem;
}

.header-heading {
    font-size: 2.25rem;
    color: #5215FC;
    width: 75%;
    line-height: 1.3;
}

.header-subtitle {
    margin-top: 20px;
}

.cta-button {
    font-size: 1rem;
    margin-top: 20px;
    margin-right: 25px;
    min-width: 200px;
}

/* WHY US */
.colored-section#whyUs > .container-fluid {
    padding: 5% 10%;
    position: relative;
    z-index: 100;
}

.ws-cards-container {
    display: flex;
    /* align-content: stretch; */
    align-items: stretch;
    height: 100px;
    justify-content: space-around;
}

.ws-card {
    margin: 5% 5%;
    padding-bottom: 3%;
    background-color: #E8E8E8;
    color: #231F20;
    filter: opacity(90%);
}

.ws-card-img {
    width: 60%;
    /* padding: 50px; for 1200 below */
    padding: 60px;
    margin: 24px auto 4px auto;
    border-radius: 100px;
}

