

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  height: 100vh;
  background: #dfdfdf;

}
.wapper{
background: #fff none repeat scroll 0 0;
border: 1px solid #e1e8ed;
border-radius: 6px;
height: auto;
width: 100%;
max-width: 340px;
position: absolute;

}
.profile-bg{
  background-image: url("./images/headerbg.jpg"); 
  background-size: 100% auto;
  border-radius: 4px 4px 0px 0px;
  height: 100px;
  width: 100vh;
  position: absolute;
}

.profile-img{
  border: 2px solid #fff;
  border-radius: 7px;
  color: #fff;
  height: 72px;
  width: 72px;
  float: left;
  padding: 0 10px 0 0;
  
}

.perfile-name{

display: grid;
padding-left: 50px;
 
}
.perfile-name h2 p{
  color: #fff; 
}

