h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Sans', sans-serif;
}


/* Flowting Items in Background */
.bg-float1, .bg-float2 {
    position: absolute;
    overflow: hidden;
    padding: 10%;
    max-width: 100%;
}

.bg-float {
    position: relative;
    width: 550px;
}

.bg-float1 {
    left: 0;
    top: 7.5%;
}

.bg-float1 > object {
    rotate: -134deg;
    left: -68%;
}

.bg-float2 {
    right: 0;
    top: 23.8%;
}

.bg-float2 > object {
    rotate: 55deg;
    right: -63%;
}


/* Header */
#header {
    position: relative;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

/* Header Background Image and Divider */
.header-design-container {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
}

.stripe {
    width: 20%;
    height: 100%;
    background: repeating-linear-gradient(
        90deg, 
        var(--primary),
        var(--primary) 25%,
        transparent,
        transparent 33.3333333%
    );
    transform: skewX(-22deg);

    position: relative;
    left: 150px;
    z-index: 10;
}

.triangle {
    width: 80%;
    height: 100%;
    background-color: var(--primary);
    clip-path: polygon(
        0 100%, 
        100% 100%, 
        100% 0%, 
        305px 0
    );

    position: relative;
    z-index: 5;
}

.header-design-container img {
    width: 100%;
    height: 100%;
    clip-path: polygon(
        45% 100%, 
        100% 100%, 
        100% 0, 
        5% 0
    );

    object-fit: cover;
    filter: brightness(75%);

    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}


/* Header Content */
.header-content {
    margin-top: 60px;
    padding: 12% 40% 12% 5%;
    position: relative;
    z-index: 100;
}

.header-heading {
    color: var(--primary);
}


/* Buttons */
.cta-button {
    font-size: 1rem;
    margin-top: 20px;
    margin-right: 25px;
    min-width: 200px;
}

/* Why Us */
.colored-section#whyUs > .container-fluid {
    padding: 80px 10%;
    position: relative;
    z-index: 100;
}

.ws-card {
    margin: 5% 5%;
    padding-bottom: 3%;
    background-color: white;
    color: #231F20;
    filter: opacity(90%);
    box-shadow: 8px 8px 5px var(--shadow-rbga-color);
}

.ws-card .ws-card-img {
    box-sizing: border-box;
    width: 125px;
    height: 125px;
    margin: 25px auto 0;
    display: flex;
    border-radius: 100px;
    background-color: #5566FF;
    transition: .5s background-color ease;
}

.ws-card:hover .ws-card-img {
    background-color: var(--primary);
}

.ws-card .ws-card-img i {
    align-self: center;
    margin: auto;
    color: white;
}

.ws-card .ws-card-title {
    color: #0067FF;
    font-weight: 400;
    font-size: 16px;
}

.ws-card .ws-data {
    color: var(--primary);
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
}

/* About Us */
.white-section#aboutUs {
    padding: 104px 0;
    box-sizing: border-box;
}

.white-section#aboutUs > .row {
    margin: 0 0 0 -15px;
}

.about-img {
    width: 100%;
    height: 525px;
    object-fit: cover;
    filter: saturate(110%) contrast(110%);
    transition: .5s height linear;
}

.about-us-content {
    padding: 37px 7%;
}

.about-us-content .subtitle {
    color: var(--primary);
    margin-top: 20px;
}

#aboutUsC .about-us-content .card:hover{
    background-color: var(--primary); 
    color: whitesmoke;   
}




/* Projects */
#projects .subtitle {
    color: var(--complementary-text);
    margin-top: 20px;
}

.colored-section#projects > .container-fluid{
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Contact Us */
.form-contact-container {
    border-radius: 10px;
    box-shadow: 5px 5px 3px var(--shadow-rbga-color);
    transition: all .3s;
}

.form-contact-submit {
    min-width: 100px;
    border-radius: 100px;
    color: var(--primary);
    font-size: var(--small-text);
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 3px 3px #47289d, 5px 5px 5px #ece3ff inset;
}


/* Footer */
.footer-bg {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 10;
}

.footer-bg-1, .footer-bg-2 {
    width: 45%;
    position: absolute;
    bottom: 0;
}

.footer-bg-1 {
    transform: scaleX(-1);   
    right: 0;
}

.footer-bg-2 {
    left: 0;
}

.footer-content {
    padding: 100px 10% 2%;
    position: relative;
    z-index: 100;
}

.footer-content .section-header {
    margin-bottom: 25px;
}

.footer-content .cta-button {
    padding: 10px;
}

.footer-links {
    margin-top: 100px;
}

.footer-link {
    display: inline-block;
    margin: 10px;
    color: white;
}

/* || Media Queries */

/* Small devices (portrait tablets and large phones, 768px and below ) */
@media only screen and (max-width: 768px) {
    .header-divider {
        display: none;
    }
  
    .header-image-container {
      clip-path: polygon(
        0% 100%, 
        100% 100%, 
        100% 0%, 
        0% 0%
      );
    }
  
    .about-img {
      height: 500px;
      padding-right: 0;
    }
    
    .header-design-container {
        display: none;
    }

    .header-content {
        padding-right: 5%;
    }

    .bg-float1 {
        top: 5%;
    }
}

/* MD */
@media (min-width: 768px) {
    .bg-float1, .bg-float2 {
        width: 60%;
    }
}


/* Medium devices (landscape tablets, 992px and up) */
@media only screen and (max-width: 992px) {
    .about-img {
      height: 500px;
      padding-right: 0;
    }
  
    .about-us-content {
      padding: 37px 10% 0;
    }

    .form-contact-container {
      margin-top: 5%;
    }
} 


/* Carousel */
/*
  code by Iatek LLC 2018 - CC 2.0 License - Attribution required
  code customized by Azmind.com
*/
@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
      }
}

@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
      }
}

@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}
