/* || Project Details */
#projectInfo {
    max-width: 250px;
}

.detail-header {
    font-size: 16px;
}

button[data-toggle="form"][data-action="cancel"] {
    display: none;
}

#projectDetailForm label {
    font-size: 12px;
    font-weight: 500;
    color: #5e6c84;
}

/* Gantt Chart */
.chart-container {
    visibility: hidden;
    width: 100%;
    overflow: hidden;
}

#projectGanttChart .spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--palette1);
    position: absolute;
    top: 0;
    left: 0;
}