/* || Timeline Slide */
#timelineSlide .mesa-container {
    height: 100%;
    border-right: 1px solid var(--border-rgba-color);
}

#timelineSlide td {
    font-size: 14px;
}

#timelineSlide .slide-content {
    display: grid;
    grid-template-columns: auto auto;
}

#taskBar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}

.tb-title {
    font-size: 14px;
}

.tb-date {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tb-date input {
    font-size: 14px;
}

.light-btn:has(.btn-icon) {
    position: relative;
}

.light-btn:has(.btn-icon) .btn-icon {
    font-size: 18px;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.legends-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
}

.task-legend {
    display: grid;
    grid-template-columns: 50px  1fr 40px;
}

.task-legend .leg-color,
.task-legend .leg-title {
    cursor: pointer;
}

.task-legend .leg-color {
    background-color: #5050FF;
}

.task-legend .leg-title {
    background-color: #5050FF;
    /*background-image: linear-gradient(rgb(0 0 0/40%) 0 0);*/
    color: white;
    padding: 5px 10px;
}

.task-legend .leg-edit, .task-legend .leg-edit .material-icons {
    align-self: center;
    justify-self: center;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.light-btn {
    margin-top: 5px;
}

/* || Project Details */
#projectInfo {
    max-width: 250px;
}

.detail-header {
    font-size: 16px;
}

button[data-toggle="form"][data-action="cancel"] {
    display: none;
}

#projectDetailForm label {
    font-size: 12px;
    font-weight: 500;
    color: #5e6c84;
}

/* || Gantt Chart */
#projectGanttChart {
    --chart-row-head: 250px;
    --chart-grid-width: 25px;
    --week-days: 7;
    --chart-header-bg: var(--palette1);

    /*max-height: 100vh;*/
    padding: 0;
}

.chart-container {
    display: grid;
    grid-template-rows: auto 100fr;
    grid-template-columns: 1fr;
    position: relative;
}

.gantt-chart {  
    position: relative;
    overflow-x: auto;
}

.gantt-chart .chart {
    height: 100%;
    display: grid;
    grid-template-rows: auto 100fr;
}

.chart-header {
    background-color:  var(--chart-header-bg) !important;
    color:  white;
    position: sticky;
    top: 0;
    z-index: 105;
}

.chart-body {
    position: relative;
    background-color: white;
}

.gantt-chart .chart-row {  
    display: grid; 
    grid-template-columns: var(--chart-row-head) 1fr; 
}

/* || Tooltip */
.actual .help-icon {
    color: #353535;
}

.custom_tooltip {
    min-width: 100px;
    width: auto;
    max-width: 250px;
    padding: 5px 8px;
    border: 1px solid var(--palette4);
    background-color: white;
    position: fixed;
    z-index: 1000;
    /*visibility: hidden;*/

    box-shadow: 2px 2px 5px rgba(0, 0, 0,0.3);
}

.custom_tooltip:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: var(--palette4) transparent;
    border-width: 5px 5px 0;
    bottom: -5px;
    left: 50%;
    translate: -50% 0;
}

.custom_tooltip.stopped:after {
    border-color: var(--danger) transparent;
}


.custom_tooltip * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}

.tip-title {
    font-size: 12px;
}

.tip-date {
    font-size: 10px;
    color: #424242;
}

.actual:hover .custom_tooltip {
    visibility: visible;
}

.chart-row-bars .stopped {
    --red : #ff3655;
    --light-red : #ff9797;
    background-image: linear-gradient(to right, var(--red), var(--red) var(--percent), var(--light-red) var(--percent), var(--light-red)) !important;
}

.custom_tooltip.stopped {
    border-color: var(--danger);
}

.custom_tooltip .help-icon {
    display: block;
    font-size: 14px;
    overflow: visible;
}

/* Grid width */
.chart-lines {
    display: grid;
    /* grid-template-columns: var(--chart-row-head) repeat(50, 1fr) !important; */
}

.chart-months, 
.chart-days,
.gantt-chart .chart-row-bars { 
    display: grid;
    /* grid-template-columns: repeat(50, minmax(var(--chart-grid-width), 1fr));  */
}

/* Grid Components */
#timelineToggler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-right: none;
    background-color: var(--chart-header-bg);
    color: white;
    text-align: center;
    border-right: 1px solid white;
}

.chart-months {
    /*text-transform: uppercase;*/
    /*font-weight: 500;*/
    /*border-bottom: 1px solid white;*/
    font-weight: 500;
    font-size: 12px;
    /*color: var(--primary-text);*/
    color: white;
    border-bottom: 1px solid rgba(13, 13, 13, 0.4);
}


.chart-month {
    /* grid-column: 1 / span 22; */
    justify-self: center;
    align-self: stretch;
    width: 100%;
    /* text-align: center; */
    padding: 5px 10px;
    background-color: var(--palette1);

    position: sticky;
    left: 250px;
}

.chart-month:last-child {
    overflow: hidden;
}

.gantt-chart .chart-days {
    /*padding: 2px 0;*/
    /*border-left: 1px solid white;*/
    font-size: 12px;
}

.gantt-chart .chart-days > span {
    font-size: .75rem;  
    display: block;
    text-align: center;
    align-self: center;  
}

.gantt-chart .chart-lines { 
    display: grid; 
    position: absolute;  
    height: 100%;
    width: 100%; 
    background-color: transparent;
}

.gantt-chart .chart-lines > span {  
    display: block;  
    border-right: 1px solid rgba(13, 13, 13, 0.4);
}

.gantt-chart .chart-days > span, 
.gantt-chart .chart-lines > span {
    min-width: var(--chart-grid-width);
}

/* .gantt-chart .chart-lines > span:nth-child(3),
.gantt-chart .chart-lines > span:nth-child(10),
.gantt-chart .chart-lines > span:nth-child(17) {
    background-color: rgb(255, 70, 70);
    position: relative;
    z-index: 50;
} */

.sunday {
    background-color: #d2d2d2;
    /*background-color: rgb(255, 70, 70);*/
    /*position: relative;*/
    /*z-index: 50;*/
}

.gantt-chart .chart-row-item { 
    align-self: stretch;
    display: grid;
    grid-template-columns: minmax(5px, auto) 1fr;
    gap: 10px;
    padding: 10px;
    min-height: 20px;
    background-color: white;
    font-size: .75rem;
    color: var(--primary-text);
    border-right: 1px solid black !important;
    border-bottom: 1px solid var(--border-rgba-color);

    position: sticky;
    left: 0;
    z-index: 60;
}

.gantt-chart .chart-row-bars { 
    list-style: none; 
    padding: 10px 0;
    margin: 0;
    grid-gap: 5px 0;
    border-bottom: 1px solid var(--border-rgba-color);
}

.chart-row-bars li .progress-percent {
    display: block;
    /*height: 100%;*/
    margin-left: 5px;
    /*display: grid;*/
    /*align-items: center;*/
    position: absolute;
    /*right: -100%;*/
    right: 0;
    z-index: 60;
}

.gantt-chart li {
    min-width: var(--chart-grid-width);
    min-height: var(--chart-grid-width);
    max-height: var(--chart-grid-width);
    cursor: pointer;
    /*overflow: hidden;*/

    position: relative;
    z-index: 40;
}

#projectGanttChart .expanding-btn {
    position: absolute;
    right: 20px;
    bottom: 40px;

    z-index: 100;
}

#projectGanttChart .expanding-btn button {
    border-radius: 100px;
    padding: 5px;
    transition: all .3s linear;
}

#projectGanttChart .expanding-btn button::before {
    content: "Legends";
    display: none;
    transition: all .3s;
}

#projectGanttChart .expanding-btn:hover button {
    padding: 5px 10px;
}

#projectGanttChart .expanding-btn:hover button::before {
    display: inline-block;
    margin: 0 10px;
}


/* || Table */
.row-actions {
    display: none;
}


/* || Legends */
#viewLegends .pcontainer{
    right: 15px;
    bottom: 35px;
}

#viewLegends .pbody {
    min-height: 300px;
}


/* Popup */
.selected {
    min-height: 150px;
    border: 1px solid black;
    text-align: center;
    display: grid;
    align-items: center;
}


/* Create Legend */
#legendPopup .pbody {
    margin: 0;
    padding: 0;
}

.legend-preview {
    background-color: #f4f5f7;
    margin-top: 10px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.legend-preview span {
    display: block;
    width: 50%;
    min-height: 20px;
    background-color: #7B7B7B;
}

.legend-preview span:first-child {
    align-self: flex-start;
}

.legend-preview span:last-child {
    align-self: flex-end;
}

#color-preview {
    align-self: center;
    background-color: #7bc86c;
}

.color-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.color-selection .option-box {
    min-height: 25px;
    flex-grow: 0;
    min-width: calc((100% - ((5px * 5) + 24px)) / 5);;
}

.color-selection .option-box:has(input:not(:checked)):hover {
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

.color-selection .option-box:has(input:checked) {
    box-shadow: 0 0 0 2px rgba(145, 135, 255, 0.599);
}


#legendForm {
    padding: 12px;
}

[data-legend="edit"] .pfooter .btn, 
.pside .pfooter .btn {
    width: calc(50% - (.75rem/2));
}

[data-legend="edit"] .pfooter .btn.neutral-outline-btn {
    width: 100%;
}

/* || Task Popup */
#taskPopup .task-activity {
    padding: 10px;
    /* border: 1px solid rgba(0, 0, 0, 0.30); */
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.30);
}

.task-activity .close-btn .material-icons {
    font-size: 1rem;
}

#taskPopup .task-activity label  {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#taskPopup .task-activity input  {
    border-bottom-color: rgb(0, 0, 0);
}

.popup .pcontent .pbody  input:read-only {
    background-color: #f1f1f1 !important;
}


/* Resource Popup */
#resourcePopup .pbody .linear, #resourcePopup .pbody .linear .form-group {
    gap: 0 !important;
}

#resourcePopup .pbody .linear .form-group {
    margin-bottom: 0;
    padding-bottom: .5rem;
}


/* || MEDIA QUERIES */

@media only screen and (max-width: 768px) {
    
    .projectDone:not(.dropdown) {
        display: none;
    }
}

/* MD */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .projectDone:not(.dropdown) {
        display: block;
    }

    .projectDone.dropdown {
        display: none;
    }
}