.cover-page {
    grid-auto-rows: auto 100fr;
    background-color: var(--background-color);
    gap: 10px;
}

.brand {
    color: var(--primary-text);
}

#signupForm {
    width: 100%;
    background-color: white;
    color: var(--primary-text);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--shadow-rbga-color);
}


@media only screen and (min-width: 768px) {
    #signupForm {
        width: 50%;
        min-width: 500px;
        max-width: 500px;
    }
}