:root {
    /* Colors */
    --palette1: #134074;
    --palette2: #13315C;
    --palette3: #0B2545;
    --palette4: #8DA9C4;
    --palette5: #EEF4ED;
    --primary: #3D3DBB;
    --danger: #ff647c;
    --success: #00c48c;
    --attention: #f1a630;
    --information: #0084f4;
    --light-blue: #F2F2FF;
    --complementary: #744713;

    --action: #5050FF;
    --in-progress: #FFE172;

    --border-rgba-color: rgba(112, 112, 221, .2);
    --shadow-rbga-color: rgba(49, 8, 123, .3);

    --backdrop: rgba(56, 56, 56, 0.56);

    --primary-text: #111111;
    --secondary-text: #EBE3FF;
    --complementary-text: #FFFF00;
    --inactive-text: #a5a3aa;
    --placeholder-text: #8888AD;

    --input-field: #E6E3DD;
    --input-field-focus: #fff;

    --input-popup-border-color: #B0B0B2;

    --background-color: #F9F9FB;
    --default-box-shadow-color: #dddde076;  

    /* Navigation Tab Color */
    --navtab-text-color: #797979;
    --navtab-active-text: var(--primary-text);
    --navtab-active-border: var(--action);

    /* Custom Tab Content Color */
    --custom-tab-bg: white;

    /* Table Color */
    --table-header-text: #797979;
    --table-header-bg: white;
    --table-shadow: var(--default-box-shadow-color);

    /* Texts Size */
    --input-padding: .375rem .75rem;
    --input-padding-x: .5rem;
    --input-padding-y: .5rem;

    --small-text: .75rem;
    --normal-text: 1rem;

    /* Border radius */
    --default-border-radius: .25rem;
}


/* || General styles */
body {
    background-color: var(--background-color);
    color: var(--primary-text);
    margin: auto;
    position: relative;
    box-shadow: 10px 0 8px -5px #e9e1ff, -10px 0 8px -5px #e9e1ff;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    line-height: 1.28;
}

/* input, textarea {
    background-color: var(--input-field) !important;
} */

p, label {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-top: 1px solid rgba(0,0,0,.1);
}

/* || Containers */
.wrapper {
    display: flex;
    justify-content: flex-start;
    flex: 2;
    transition: all .3s ease-out;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cover-background {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover-page {
    flex: 1;
    display: grid;
    width: 100%;
    height: 100%;
    padding: 2rem 4rem;
    /* background-color: var(--backdrop); */
    background-color: var(--background-color);
    color: var(--primary-text);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    overflow: hidden;
}

body > div.cover-page {
    grid-auto-rows: auto 100fr;
    gap: 10px;
}

.cover-background .cover-page {
    background-color: var(--backdrop);
    color: white;
}

.cover-page .cover-form {
    width: 100%;
    background-color: white;
    color: var(--primary-text);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
}

.center-grid {
    justify-content: center;
    align-items: center;
}
  
.white-section {
    background-color: white;
}

.colored-section {
    background-color: var(--primary);
    color: white;
}

.colored-section p {
    color: var(--secondary-text);
}

.white-section .container-fluid,
.colored-section .container-fluid {
    padding: 5% 10%;
}

.main-content {
    flex: 1;
    margin: 1rem 20px;
    padding: 1rem 20px;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px 2px var(--default-box-shadow-color);
    overflow: hidden;
}

/* || SITEWIDE  */

/* Brand */
.brand {
    display: flex;
    gap: 20px;
}

.brand .brand-icon {
    width: 40px;
    height: 40px;
}

.brand .brand-name {
    display: inline-block;
    max-width: 200px;
    font-size: .75rem;
    font-weight: 700;
    white-space: normal;
    text-transform: uppercase;
}


/* || Text */
.big-heading {
    font-size: 3rem;
    line-height: 1.3;
}

.section-header {
    margin-bottom: 50px;
}

.subtitle {
    font-size: 1rem;
    line-height: 1.38;
}

.header-4 {
    font-size: 1.25rem;
    font-weight: 500;
}

.header-5 {
    font-size: .75rem;
    font-weight: 500;
}

.text-5 {
    font-size: .75rem;
}

.dark-text {
    color: var(--palette2);
    font-weight: 700;
}

.secondary-text {
    font-size: 1rem;
    font-weight: 300;
}

/* .material-icons, .fas {
    font-size: inherit;
} */

/* || Buttons */
button > * {
    pointer-events: none;
}

.btn {
    flex-shrink: 0;
    font-family: 'Open Sans', sans-serif;
}

.sm-btn {
    font-size: .8rem;
}

a.btn {
    padding: .5rem 1.5rem;
}

.slim-btn {
    height: 2rem;
    font-size: .8rem;
}

.btn .btn-icon {
    margin-right: 10px;
}

.primary-btn, .outline-primary-btn:hover {
    background-color: var(--primary); 
    color: white;   
}

.action-btn, .outline-action-btn:hover {
    background-color: var(--action); 
    color: white !important;
}

.outline-primary-btn, .outline-action-btn {
    background-color: transparent;
}

.action-btn:has(.btn-icon)::after, .outline-action-btn:has(.btn-icon)::after {
    content: '';
    margin-right: 10px;
}

.primary-btn:hover {
    background-color: #3D1C9B;
    color: white;
}

.action-btn:hover {
    background-color: #4545c6;
    color: white;
}

.action-btn:focus {
    background-color: var(--palette1);
}

.outline-primary-btn {
    color: var(--primary);
    border-color: var(--primary);
}

.outline-action-btn {
    color: var(--action);
    border-color: var(--action);
}

.light-btn {
    background-color: #f4f4f4;
    color: #231F20 !important;
    box-shadow: 0 0 2px 1px var(--border-rgba-color);
}

.light-btn .btn-icon {
    color: var(--palette4);
}

.link-btn {
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.link-btn:hover :not(.material-icons), .link-btn:focus {
    text-decoration: underline;
}

.close-btn {
    padding: 0;
    background-color: transparent;
    border: 0;

    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: var(--primary-text);
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-btn {
    background-color: var(--success) !important;
    color: white !important;
}

.attention-btn {
    background-color: var(--attention) !important;
    color: white !important;
}

.danger-btn {
    background-color: var(--danger) !important;
    color: white !important;
}

.success-text {
    color: var(--success);
}

/* || FORM */

/* Label */
.linear-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.linear-label label {
    margin: 0;
}

/* Custom Form Input Group */
.form-input-group {
    width: 100%;
    margin-bottom: 1rem;
}

.form-input-group label {
    display: block;
    margin: 0;
    font-size: .75rem;
}

.form-input-group p,
.form-input-group input, 
.form-input-group textarea {
    width: 100%;
    height: auto;
    margin: 0;
    background-color: white !important;
    outline: none;
    border: none;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    resize: none;
}

.form-input-group input, .form-input-group textarea {
    border-bottom: 1px solid rgba(37, 37, 132, 0.402);
}

.form-input-group input:focus, .form-input-group textarea:focus {
    box-shadow: 0 5px 5px -4px rgba(103, 103, 255, 0.402);
} 

.form-input-group input:read-only, 
.form-input-group textarea:read-only,
.form-input-group input:read-only:focus, 
.form-input-group textarea:read-only:focus  {
    border-bottom: none !important;
    box-shadow: none !important;
}

/* Form Input Group */
.form-control.top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-control.middle {
    border-radius: 0;
}

.form-control.bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

form .row .left {
    padding: 0 5px 0 0;
}

form .row .middle {
    padding: 0 5px 0 5px;
}

form .row .right {
    padding: 0 0 0 5px;
}


/* Form Label and Input */
.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label,
.form-label-group > textarea {
  padding: var(--input-padding-y) var(--input-padding-x);
  cursor: text;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
  pointer-events: none;
}

.form-label-group input::placeholder,
.form-label-group textarea::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown),
.form-label-group textarea:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
  background-color: var(--input-field-focus) !important;
}

.form-label-group input:not(:placeholder-shown) ~ label,
.form-label-group textarea:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* || Input */
.input-container {
    display: flex;
    align-items: stretch;
    width: 100%;
    border-radius: var(--default-border-radius);
}

.input-container:has(input:focus) {
    outline: none;
    background-clip: content-box;
    box-shadow: 0 0 0 3px var(--border-rgba-color);
}

.input-container .input-prepend, .input-container input, .input-container .input-append {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-rgba-color);
    background-color: #F2F2FF !important;
}

.input-container .input-prepend .icon, .input-container input, .input-container .input-append  .icon {
    padding: .375rem .75rem;
}

.input-container .input-append .action-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 100%;
}

.input-container .input-append:has(.action-btn) {
    border: none;
    flex-shrink: 0;
}

.input-container .input-prepend {
    border-top-left-radius: var(--default-border-radius);
    border-bottom-left-radius: var(--default-border-radius);
    border-right: none;
    color: var(--palette4);
}

.input-container:has(.input-prepend) input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    padding-left: 0;
}

.input-container input {
    width: 100%;
    border-radius: var(--default-border-radius);
    font-size: .8rem;
    font-weight: 200;
    color: var(--primary-text);
}

.input-container input:focus {
    outline: none;
}

.input-container:has(.input-append) input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    padding-right: 0;
}

.input-container .input-append {
    border-top-right-radius: var(--default-border-radius);
    border-bottom-right-radius: var(--default-border-radius);
    border-left: none;
    color: var(--palette4);
}

.input {
    padding: var(--input-padding);
}

.input-options {
    display: flex !important;
    gap: 10px;
    padding: var(--input-padding);
    align-items: center !important;
    border: 1px solid var(--border-rgba-color);
    border-radius: var(--default-border-radius);
}

.option-box {
    display: inline-block;
    flex-grow: 1;
    background-color: #E7E9EC;
    min-width: 55px;
    text-align: center;
    padding: var(--input-padding);
    cursor: pointer;
    margin: 0;
}

.option-box:hover {
    background-color: #b1c1e0;
    color: white;
}

.option-box input {
    display: none;
}

.option-box:has(input:checked) {
    background-color: var(--action);
    color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

[name="progress"] {
    text-align: right;
}

/* Search Input */
.search-form {
    flex-grow: 1;
}
  
.search-form .input-container .input-append {
    cursor: pointer;
}

/* || Table */
.mesa-container {
    width: 100%;
    overflow: auto;
    border-radius: var(--default-border-radius) !important;
    background-color: white;
    background-clip: border-box;
}

.mesa-container .mesa .mesa-head {
    white-space: nowrap;
}

.mesa {
    display: table;
    width: 100%;
    border-collapse: collapse !important;
    border-style: hidden; /* hide standard table (collapsed) border */
    border-radius: var(--default-border-radius) !important;
}

.mesa th, .mesa td {
    padding: 0.75rem;
    border-width: 1px 0;
    border-style: solid;
    border-color: var(--palette5);
    vertical-align: top;
}

.mesa.mesa-hover tbody tr:hover, tbody.mesa-hover tr.active {
    cursor: pointer;
    background-color: var(--palette5);
}

.mesa-head {
    border-top-left-radius: var(--default-border-radius) !important;
    border-top-right-radius: var(--default-border-radius) !important;
    background-color: var(--table-header-bg);
    color: var(--table-header-text);
    font-size: 14px;
}

.mesa-head .tname {
    color: var(--action);
    font-weight: 500;
}

.mesa-head th {
    vertical-align: middle;
    padding: .75rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.mesa p {
    margin: 0;
}

.mesa-container .form-input-group, .mesa-container input, .mesa-container textarea {
    font-size: inherit;
    background-color: transparent !important;
    margin: 0;
}

/* Action Cell */
.mesa .action-cell {
    vertical-align: top;
    min-width: 100px;
    text-align: center;
}

.mesa .action-cell-content {
    display: flex;
    /*flex-direction: row-reverse;*/
    justify-content: center;
    align-items: center;
    text-align: right;
    min-width: 100px;
    gap: 1rem;
}

.mesa tbody tr textarea:read-only,
.mesa tbody tr input:read-only {
    cursor: pointer;
}

.mesa tbody tr .row-action-btns {
    display: flex;
    gap: 10px;
}

.mesa-container .row-action-btns .btn {
    color: #8A8A8A !important;
}

/* Status Cell */
.status-cell {
    min-width: 100px;
}

span.status {
    display: inline-block;
    width: 100%;
    padding: 5px 10px;
    text-align: center;
}

span.status[data-status = "done"] {
    background-color: #7BC86C;
    color: white;
}

span.status[data-status = "in-progress"] {
    background-color: #FFE172;
    color: var(--palette1);
}

/* Action Row */
.mesa-container .table-action-row {
    display: flex;
    gap: 10px;
    margin: 1rem;
}

/* || Content */
.content {
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    transition: all 0.3s;
  
    width: 100%;
    overflow: auto;
    position: relative;
}

/* Page Header */
.content > .page-header {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 24px 20px 1rem;
    gap: 20px;
}

.page-header .page-title {
    font-size: 22px;
}
  
.project-info {
    width: 100%;
    overflow: hidden;
}
  
.page-header small {
    font-size: 14px;
}
  
.page-header .page-title,
.page-header small  {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
  
.content .nav-tab-container:has(.nav-tab),
.content .nav-tab-container:has(.filter-tab) { 
    padding-top: 0;
    padding-bottom: 0;
    align-items: stretch;
}

.content .nav-tab-container:has(.search-form) .search-form { 
    margin-bottom: 5px;
}
  
.content .nav-tab-container {
    padding: 5px 20px;
    border-bottom: 1px solid var(--border-rgba-color);
}
  
.main-content.mesa-container {
    width: auto;
}
  
.content .nav-tab-container ~ hr {
    margin-top: -1px;
}
  
/* Page Footer */
.page-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: stretch;
    gap: .75rem;
    padding: 20px;
    border-top: 1px solid var(--border-rgba-color);
}

.page-footer .btn {
    min-width: 100px;
}

/* || Navigation */
.nav-tab-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 120;
    background-color: var(--background-color);
    color: var(--navtab-text-color);
    gap: 10px;
}

.nav-tab, .filter-tab {
    display: flex;
    list-style: none;
    margin: 0;
    overflow: auto;
}

.filter-tab-item label {
    margin: 0;
    cursor: pointer;
}

.filter-tab-item input {
    display: none;
}
  
.nav-tab .nav-tab-item {
    cursor: pointer;
}
  
.nav-tab .nav-tab-item button,
.nav-tab .nav-tab-item input,
.filter-tab .filter-tab-item label {
    padding: 5px 10px;
    height: 100%;
    color: inherit;
    font-weight: inherit;
    font-size: 14px;

    white-space: nowrap;
}
  
.nav-tab .nav-tab-item .link-btn:hover,
.nav-tab .nav-tab-item .link-btn:focus {
    text-decoration: none;
}
  
.nav-tab .nav-tab-item:not(.active) .link-btn:hover,
.filter-tab .filter-tab-item:not(.active) label:hover {
    color: var(--navtab-active-text);
    font-weight: 400;
}
  
.nav-tab .nav-tab-item.active,
.filter-tab .filter-tab-item.active {
    color: var(--navtab-active-text) !important;
    font-weight: 600;
    border-bottom: 3px solid var(--navtab-active-border);
}
  
.nav-tab-container .material-icons-outlined,
.nav-tab-container .material-icons {
    color: var(--palette4);
}

.nav-tab-container a {
    padding: 5px 10px;
    height: 100%;
    font-size: 14px;
}

/* Nav-Tab within Content */
.content .nav-tab {
    padding: 0;
    margin: 0;
}

/* Tabs */
.custom-tab-container {
    flex: 2;
    display: flex;
    position: relative;
    overflow: auto;
}

.custom-tab-content {
    width: 100%;
    background-color: var(--custom-tab-bg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
}

.custom-tab-content:not(.show) {
    display: none !important;
    flex: 1 0;
}

/* Tabs within Content */
.content .custom-tab-content .mesa {
    margin: 0;
    width: 100%;
}
  

/* || Card */
.custom-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid var(--border-rgba-color);
    border-radius: var(--default-border-radius);
    box-shadow: 0 0 10px 1px var(--default-box-shadow-color);
}

/* || Slide element */
body:has(.slide-fixed.active).slide-open {
    overflow: hidden;
}

.slide-container {
    flex: 2;
    display: flex;
    overflow: hidden;
}

.slide {
    flex-shrink: 0;
    position: relative;
    min-width: 500px;
    z-index: 110;
}

.slide.slide-fixed {
    position: fixed;
    z-index: 130;
    top: 0;
    right: -100%;
}

.slide-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--border-rgba-color);
    background-color: white;
}

.slide.slide-fixed .slide-content {
    height: 100vh;
}

.slide-header {
    background-color:  rgba(0,0,0,.03);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .5rem 1rem;
    font-size: 14px;
    border-bottom: 1px solid var(--border-rgba-color);
}

.slide-body {
    background-color: white;
    flex-grow: 1;
    width: 100%;
    padding: 1rem 2rem;
}

.slide-fixed .slide-body {
    overflow-y: auto;
}

.slide-footer {
    width: 100%;
    background-color:  rgba(0,0,0,.03);
    border-top: 1px solid var(--border-rgba-color);
    padding: .5rem 1rem;
}

/* Slide Componenets */
.slide-content .icon-btn[data-dismiss] {
    padding: 0;
    font-size: 18px;
}

.slide-content .icon-btn[data-dismiss] .material-icons {
    font-size: inherit;
}

.slide-title {
    margin: 0;
    font-size: 14px;
}

.slide .mesa thead.mesa-header {
    background-color:  rgba(0,0,0,.03);
    width: 100%;
    border-bottom: 1px solid var(--border-rgba-color);
}

.slide .mesa thead.mesa-header th {
    vertical-align: middle;
    padding: 5px .75rem;
    font-size: .75rem;
    font-weight: 300;
}

.slide .mesa thead.mesa-header th.taskCell {
    color: var(--action);
    font-weight: 400;
}

.slide .mesa .taskCell {
    max-width: 20vw;
}

.slide .mesa tbody {
    background-color: white;
}

/* || Menu */
.dots-menu {
    position: relative;
}

.dots-menu-btn {
    color: #8A8A8A;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 2px 5px;
    margin: 0;
    border-radius: 10px;
}

.dots-menu-btn:focus {
    box-shadow: 0 0 0 2px rgba(145, 135, 255, 0.3);
}

.dots-menu-btn * {
    pointer-events: none;
}

.dots-menu-popup {
    min-width: 150px;
    margin: 0;
    padding: 5px 0;
    list-style: none;
    text-align: left;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgb(0, 0, 0, .2);

    position: absolute;
    /*top: 0;*/
    /*right: 15px;*/
}

.dots-menu-popup li {
    padding: 5px 10px;
}

.dots-menu-popup li:hover {
    background-color: #E7E9EC;
}

.dots-menu-popup hr {
    margin: 5px 0;
}

.neutral-outline-btn {
    border: 1px solid #B6B6B6;
}

/* || Datatable */

.dataTables_wrapper {
    /* overflow: auto; */
    flex: 1;
    display: flex;
    flex-direction: column;
}

.dataTables_filter input {
    padding: .375rem .75rem;
    font-size: .8rem;
    font-weight: normal;
    color: var(--primary-text);
}

.dataTables_filter input:focus, .dataTables_length select:focus {
    outline: none;
    background-clip: content-box;
    box-shadow: 0 0 0 3px var(--border-rgba-color);
}

.dataTables_paginate {
    margin-left: auto;
    /* margin-top: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dataTables_paginate .paginate_button {
    color: var(--primary-text) !important;
    padding: 5px 15px;
    cursor: pointer;
}

.paginate_button.disabled {
    color: var(--secondary-text) !important;
    cursor: default;
    text-decoration: none;
}

.paginate_button.previous, .paginate_button.next {
    font-weight: 800;
}

.dataTables_paginate > span {
    display: flex;
    gap: 10px;
}

.paginate_button.current {
    background-color: var(--primary);
    color: white !important;
}

.dataTables_empty {
    text-align: center !important;
}

/* || Gantt Chart */
#projectGanttChart {
    --chart-row-head: 250px;
    --chart-grid-width: 25px;
    --week-days: 7;
    --chart-header-bg: var(--palette1);

    padding: 0;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
}

.chart-container {
    display: grid !important;
    grid-template-rows: auto 100fr;
    grid-template-columns: 1fr;
    position: relative;
}

.gantt-chart {
    background-color: white;
    position: relative;
    overflow-x: auto;
}

.gantt-chart .chart {
    height: 100%;
    display: grid;
    grid-template-rows: auto 100fr;
}

.chart-header {
    background-color:  var(--chart-header-bg) !important;
    color:  white;
    position: sticky;
    top: 0;
    z-index: 105;
}

.chart-body {
    position: relative;
    background-color: white;
}

.gantt-chart .chart-row {
    display: grid;
    grid-template-columns: var(--chart-row-head) 1fr;
}

/* Grid width */
.chart-lines {
    display: grid;
    /* grid-template-columns: var(--chart-row-head) repeat(50, 1fr) !important; */
}

.chart-months,
.chart-days,
.gantt-chart .chart-row-bars {
    display: grid;
    /* grid-template-columns: repeat(50, minmax(var(--chart-grid-width), 1fr));  */
}

/* Grid Components */
.chart-header .chart-row-item {
    justify-content: center;
    align-items: center;
    grid-template-columns: auto !important;
    background-color: var(--chart-header-bg) !important;
    color: white !important;
}

.chart-months {
    /*text-transform: uppercase;*/
    /*font-weight: 500;*/
    /*border-bottom: 1px solid white;*/
    font-weight: 500;
    font-size: 12px;
    /*color: var(--primary-text);*/
    color: white;
    border-bottom: 1px solid rgba(13, 13, 13, 0.4);
}

.chart-month {
    /* grid-column: 1 / span 22; */
    justify-self: center;
    align-self: stretch;
    width: 100%;
    /* text-align: center; */
    padding: 5px 10px;
    background-color: var(--palette1);

    position: sticky;
    left: 250px;
}

.chart-month:last-child {
    overflow: hidden;
}

.gantt-chart .chart-days {
    /*padding: 2px 0;*/
    /*border-left: 1px solid white;*/
    font-size: 12px;
}

.gantt-chart .chart-days > span {
    font-size: .75rem;
    display: block;
    text-align: center;
    align-self: center;
}

.gantt-chart .chart-lines {
    display: grid;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.gantt-chart .chart-lines > span {
    display: block;
    border-right: 1px solid rgba(13, 13, 13, 0.4);
}

.gantt-chart .chart-days > span,
.gantt-chart .chart-lines > span {
    min-width: var(--chart-grid-width);
}

.sunday {
    background-color: #d2d2d2;
    /*background-color: rgb(255, 70, 70);*/
    /*position: relative;*/
    /*z-index: 50;*/
}

.gantt-chart .chart-row-item {
    align-self: stretch;
    display: grid;
    grid-template-columns: minmax(5px, auto) 1fr;
    gap: 10px;
    padding: 10px;
    min-height: 20px;
    background-color: white;
    font-size: .75rem;
    color: var(--primary-text);
    border-right: 1px solid black !important;
    border-bottom: 1px solid var(--border-rgba-color);

    position: sticky;
    left: 0;
    z-index: 60;
}

.gantt-chart .chart-row-bars {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    grid-gap: 5px 0;
    border-bottom: 1px solid var(--border-rgba-color);
}

.chart-row-bars li .progress-percent {
    display: block;
    /*height: 100%;*/
    margin-left: 5px;
    /*display: grid;*/
    /*align-items: center;*/
    position: absolute;
    /*right: -100%;*/
    right: 0;
    z-index: 60;
}

.gantt-chart li {
    min-width: var(--chart-grid-width);
    min-height: var(--chart-grid-width);
    max-height: var(--chart-grid-width);
    cursor: pointer;
    /*overflow: hidden;*/

    position: relative;
    z-index: 40;
}

/* || Tooltip */
.actual .help-icon {
    color: #353535;
}

.custom_tooltip {
    min-width: 100px;
    width: auto;
    max-width: 250px;
    padding: 5px 8px;
    border: 1px solid var(--palette4);
    background-color: white;
    position: fixed;
    z-index: 1000;
    /*visibility: hidden;*/

    box-shadow: 2px 2px 5px rgba(0, 0, 0,0.3);
}

.custom_tooltip:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: var(--palette4) transparent;
    border-width: 5px 5px 0;
    bottom: -5px;
    left: 50%;
    translate: -50% 0;
}

.custom_tooltip.stopped:after {
    border-color: var(--danger) transparent;
}

.custom_tooltip * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}

.tip-title {
    font-size: 12px;
}

.tip-date {
    font-size: 10px;
    color: #424242;
}

.actual:hover .custom_tooltip {
    visibility: visible;
}

.chart-row-bars .stopped {
    --red : #ff3655;
    --light-red : #ff9797;
    background-image: linear-gradient(to right, var(--red), var(--red) var(--percent), var(--light-red) var(--percent), var(--light-red)) !important;
}

.custom_tooltip.stopped {
    border-color: var(--danger);
}

.custom_tooltip .help-icon {
    display: block;
    font-size: 14px;
    overflow: visible;
}

/* Slider */
.slider {
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.slider > div {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
}

.slider > div:not(.active) {
    display: none;
}

@media screen and (max-width: 767px) {
    .dataTables_wrapper > .linear {
      margin-top: 1rem;
      flex-direction: column;
      text-align: center !important;
    }

    .dataTables_paginate {
      margin: 0;
    }
}

/* || Trail */
.trailer {
    display: flex;
    padding: 12px;
    border-bottom: 1px solid var(--border-rgba-color);
    position: relative;
}

.trail {
    margin: 0;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    color: #5e6c84;
    width: 100%;
}

.trail .cut-text {
    max-width: 40%;
    display: inline-block;
}

/* || Alert */
.alert {
    display: none;
}

.success-border {
    border-color: var(--success) !important;
}

.danger-border {
    border-color: var(--danger) !important;
}

.primary-border {
    border-color: var(--primary) !important;
}

.white-border {
    border-color: white !important;
}


/* Utilities */
.basis-1 {
    flex-basis: 8.33333333333333%;
}

.basis-2 {
    flex-basis: 16.66666666666667%;
}

.basis-3 {
    flex-basis: 25%;
}

.basis-4 {
    flex-basis: 33.33333333333333%;
}

.basis-5 {
    flex-basis: 41.66666666666667%;
}

.basis-6 {
    flex-basis: 50%;
}

.basis-7 {
    flex-basis: 58.33333333333333%;
}

.basis-8 {
    flex-basis: 66.66666666666667%;
}

.basis-9 {
    flex-basis: 75%;
}

.basis-10 {
    flex-basis: 83.33333333333333%;
}

.basis-11 {
    flex-basis: 91.66666666666667%;
}

.basis-12 {
    flex-basis: 100%;
}

.show {
    display: block;
}

.show-block {
    display: block !important;
}

.hide {
    display: none !important;
}

.scroll-x {
    overflow-x: auto;
}

.unscrollable {
    overflow: hidden !important;
}

.pos-relative {
    position: relative;
}

.align-right {
    text-align: right;
}

.round {
    border-radius: 100px !important;
}

.column {
    flex-direction: column;
}

.border-bottom {
    border-bottom: 1px solid var(--border-rgba-color);
}

.pad-4 {
    padding: 4rem !important;
}

.primary-bg {
    background-color: var(--primary);
    color: white;
}

.action-bg {
    background-color: var(--action);
    color: white;
}

.bg-light-blue {
    background-color: #AFC9EF;
}

.bg-light-yellow {
    background-color: #E8D1AC;
}

.bg-light-violet {
    background-color: #FFBAD7;
}

.cut-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.danger-text {
    color: var(--danger) !important;
}


/* Linear */
.linear-container {
    padding-right: 15px;
    padding-left: 15px;
}

.linear-container > .linear {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start !important;
    gap: 15px 0 !important;
    margin-left: -15px;
    margin-right: -15px;
}

.linear-container > .linear > div {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0 15px;
    overflow: hidden;
    width: 100%;
}

.linear, .linear-center {
    display: flex;
    align-items: center !important;
    gap: 10px;
}

.linear.space-between {
    justify-content: space-between;
}

.linear-center {
    height: 100%;
    width: 100%;
    justify-content: center;
}

/* Spinner */
.cstm-spinner {
    display: block;
    aspect-ratio: 1 / 1;
    height: 65%;

    border-radius: 50%;
    background-color: transparent;
    border: .25em solid var(--primary);
    border-right-color: transparent !important;
    animation: spinner 1s linear infinite;

    position: absolute;
    top: 50%;
    left: 1rem;
    translate: 0 -50%;
}

.cstm-spinner-sm {
    height: 50%;
    border-width: .2em;
}

@keyframes spinner {
    0% {
        rotate: 0;
    }

    100% {
        rotate: 360deg;
    }
}

/* || Completion Bar */
.completion-graph {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;

    border: 1px solid var(--border-rgba-color);
    padding: 4px 0;
}

.completion-date {
    padding: 0 1rem;
}

.completion-date > * {
    font-size: 12px;
    margin: 0;
    text-align: center;
}

.completion-bar {
    height: 100%;
    background-color: #d2d2d2;
    background-image: linear-gradient(to right, var(--primary), var(--primary) 0%, transparent 0, #d2d2d2);
}

.completion-percent {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
}

.completion-days {
    font-size: 12px;
    padding: 0 1rem;
}


/* || MEDIA QUERIES */
/* XS */
/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
    form .row .left,
    form .row .middle,
    form .row .right {
        padding: 0;
    }

    .popup .popup-sm {
        max-width: 500px;
    }
}

/* SM */
/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
    /* Utilities */
    .basis-sm-1 {
      flex-basis: 8.33333333333333%;
    }
  
    .basis-sm-2 {
      flex-basis: 16.66666666666667%;
    }
  
    .basis-sm-3 {
      flex-basis: 25%;
    }
  
    .basis-sm-4 {
      flex-basis: 33.33333333333333%;
    }
  
    .basis-sm-5 {
      flex-basis: 41.66666666666667%;
    }
  
    .basis-sm-6 {
      flex-basis: 50%;
    }
  
    .basis-sm-7 {
      flex-basis: 58.33333333333333%;
    }
  
    .basis-sm-8 {
      flex-basis: 66.66666666666667%;
    }
  
    .basis-sm-9 {
      flex-basis: 75%;
    }
  
    .basis-sm-10 {
      flex-basis: 83.33333333333333%;
    }
  
    .basis-sm-11 {
      flex-basis: 91.66666666666667%;
    }
  
    .basis-sm-12 {
      flex-basis: 100%;
    }
}

@media only screen and (max-width: 768px) {
    /* User Display */
    .user-name, #user-display {
        display: none;
    }  

    /* Table */
    .content > .mesa {
        display: block;
        position: relative;
        overflow-x: auto;
        height: calc(100vh - 30px);
    }

    .mesa .mesa-head {
        top: 0;
    }

    .mesa .projectName {
        min-width: 500px;
    }

    .pad-lg {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    /* Sidebar */
    .collapsible {
        width: 250px;
    }

    .wrapper:has(#sidebar.active) {
        margin-left: 0;
        animation: none;
    }

    .wrapper, .wrapper:has(#sidebar:not(.active)) {
        margin-left: -250px;
        animation: none;
    }
}


/* MD */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    /* Navigation tabs sticks to top */
    .nav-tab-container {
        position: sticky; 
        top: 0;
    }

    .pad-lg {
        padding-left: 8rem !important;
        padding-right: 8rem !important;
    }

    /* Cover form */
    .cover-form {
        width: 50%;
        min-width: 500px;
        max-width: 500px;
    }

    
    /* Utilities */
    .basis-md-1 {
        flex-basis: 8.33333333333333%;
    }

    .basis-md-2 {
        flex-basis: 16.66666666666667%;
    }

    .basis-md-3 {
        flex-basis: 25%;
    }

    .basis-md-4 {
        flex-basis: 33.33333333333333%;
    }

    .basis-md-5 {
        flex-basis: 41.66666666666667%;
    }

    .basis-md-6 {
        flex-basis: 50%;
    }

    .basis-md-7 {
        flex-basis: 58.33333333333333%;
    }

    .basis-md-8 {
        flex-basis: 66.66666666666667%;
    }

    .basis-md-9 {
        flex-basis: 75%;
    }

    .basis-md-10 {
        flex-basis: 83.33333333333333%;
    }

    .basis-md-11 {
        flex-basis: 91.66666666666667%;
    }

    .basis-md-12 {
        flex-basis: 100%;
    }

    .linear-md {
        display: flex;
        align-items: center !important;
        gap: 10px;
    }
}

/* Medium devices (landscape tablets, 992px and up) */
@media only screen and (max-width: 992px) {

} 
  
/* LG */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .example {background: orange;}

    /* Utilities */
    .basis-lg-1 {
        flex-basis: 8.33333333333333%;
    }
    
    .basis-lg-2 {
        flex-basis: 16.66666666666667%;
    }
    
    .basis-lg-3 {
        flex-basis: 25%;
    }
    
    .basis-lg-4 {
        flex-basis: 33.33333333333333%;
    }
    
    .basis-lg-5 {
        flex-basis: 41.66666666666667%;
    }
    
    .basis-lg-6 {
        flex-basis: 50%;
    }
    
    .basis-lg-7 {
        flex-basis: 58.33333333333333%;
    }
    
    .basis-lg-8 {
        flex-basis: 66.66666666666667%;
    }
    
    .basis-lg-9 {
        flex-basis: 75%;
    }
    
    .basis-lg-10 {
        flex-basis: 83.33333333333333%;
    }
    
    .basis-lg-11 {
        flex-basis: 91.66666666666667%;
    }
    
    .basis-lg-12 {
        flex-basis: 100%;
    }
}

/* XL */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
    /* Utilities */
    .basis-xl-1 {
        flex-basis: 8.33333333333333%;
    }
    
    .basis-xl-2 {
        flex-basis: 16.66666666666667%;
    }
    
    .basis-xl-3 {
        flex-basis: 25%;
    }
    
    .basis-xl-4 {
        flex-basis: 33.33333333333333%;
    }
    
    .basis-xl-5 {
        flex-basis: 41.66666666666667%;
    }
    
    .basis-xl-6 {
        flex-basis: 50%;
    }
    
    .basis-xl-7 {
        flex-basis: 58.33333333333333%;
    }
    
    .basis-xl-8 {
        flex-basis: 66.66666666666667%;
    }
    
    .basis-xl-9 {
        flex-basis: 75%;
    }
    
    .basis-xl-10 {
        flex-basis: 83.33333333333333%;
    }
    
    .basis-xl-11 {
        flex-basis: 91.66666666666667%;
    }
    
    .basis-xl-12 {
        flex-basis: 100%;
    }
}