/* || GENERAL STYLES */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans', sans-serif;
}

/* || ADMIN SITEWIDE */

/* Sidebar */
#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
    color: var(--palette4);
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    transition: all 0.3s;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: var(--palette5);
    min-height: 100vh;
    white-space: nowrap;
    /* box-shadow: 2px 0 var(--shadow-rbga-color); */
    z-index: 100;
    
    transition: all 0.3s;
    position: fixed;
}

#sidebar .sidebar-header {
    padding: 1rem;
    /* background-color: var(--palette5); */
    /* color: var(--palette4); */
}

#sidebar .sidebar-header i {
    color: var(--palette4);
}

#sidebar .sidebar-header {
    position: relative;
    display: flex;
    align-content: center;
}

#sidebar .brand,
#sidebar .collapsible, 
#sidebar .dropdown-toggle::after {
    transform-origin: left center;
}

#sidebar .sidebar-header .brand .brand-icon {
    width: 30px;
    height: 30px;
    background-color: #E1D124;
    border: 1px solid var(--purple);

    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

#sidebar .sidebar-header .brand .brand-name {
    margin-left: 10px; 
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    display: block;
    width: 100%;
    padding: 10px 25px;
    font-size: 1.1rem;
}

#sidebar ul li a .material-icons {
    /* color: var(--palette4); */
    font-size: 20px;
    line-height: 1.4;
}

#sidebar ul li a .collapsible {
    margin-left: 20px;
}

#sidebar ul li a:hover {
    color: white !important;
    background-color: var(--palette4);
}

#sidebar ul li.active > a,
#sidebar ul li.active .dropdown-tile a,
#sidebar ul li a[aria-expanded = "true"] {
    color: var(--palette3) !important;
    background-color: rgba(231, 233, 236, .3);
    border-left: 2px solid var(--palette1);
    font-weight: 600;
}

a[data-toggle = "collapse"] {
    position: relative;
}

#sidebar .dropdown-toggle::after {
  /* color: var(--palette4); */
  display: block;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

#sidebar .sub-menu li a {
    padding-left: 30px;
    font-size: 0.9rem;
}

#sidebar .bottom-nav {
    border-top: 1px solid var(--border-rgba-color);
}

#sidebar.bottom-nav .sidebar-nav {
    margin-bottom: 0;
}

#sidebarCollapseToggler {
    display: none;
    transition: all 0.3s;
}

/* Content */
#content {
  /* width: 100%; */
  min-height: 100vh;
  /* height: 100vh; */
  transition: all 0.3s;
  /* overflow: scroll;  */
}

/* Topbar */
#content .navbar {
  padding: 1rem;
  background-color: var(--palette5);
  color: var(--palette1);
}

/* Search Input */
.search-form {
  flex-grow: 1;
}

.search-form .input-container .input-append {
  cursor: pointer;
}

#content .navbar .projectTitle {
  flex-grow: 1;
  margin-right: 3rem;
  overflow: hidden;
}

#content .navbar .projectTitle h1,
#content .navbar .projectTitle small  {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#content .navbar .projectTitle h1 {
  font-size: 1.5rem;
}

#content .navbar .user-info {
  flex-shrink: 0;
  text-align: right;
  margin-left: 30px;
  padding-left: 30px;
  padding-right: 10px;
  border-left: 1px solid var(--border-rgba-color);
}

#content .navbar .user-info h5 {
  margin: 0;
  font-size: 1rem;
  line-height: .5;
}

/* Content Main */
#content .main {
  height: 100%;
  background-color: white;
  padding: 20px;
}

/* Nav Tab */
#content .nav-tab-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.nav-tab-container {
  color: var(--inactive-text);
}

.main .nav-tab {
  padding: 0;
  margin: 10px 0;
}

.nav-tab {
  display: flex;
  padding: 0 20px;
  list-style: none;
  margin: 0;
}

.nav-tab .nav-tab-item {
  cursor: pointer;
}

.nav-tab .nav-tab-item button {
  padding: 5px 15px;
  height: 100%;
  color: inherit;
  font-weight: inherit;
}

.nav-tab .nav-tab-item .link-btn:hover,
.nav-tab .nav-tab-item .link-btn:focus {
  text-decoration: none;
}

.nav-tab .nav-tab-item:not(.active) .link-btn:hover {
  color: var(--palette4);
  background-color: var(--palette5);
}

.nav-tab .nav-tab-item.active {
  color: var(--palette1) !important;
  border-bottom: 2px solid var(--palette4);
}

.nav-tab-container .material-icons-outlined,
.nav-tab-container .material-icons {
  color: var(--palette4);
}

/* Project Modal */
#projectPopup .pheader .linear-center-h {
  gap: 25px;
}

#projectPopup .form-group .linear-center-v {
  margin-bottom: .5rem;
}

#projectPopup .form-group .linear-center-v label {
  margin-bottom: 0;
}

#projectPopup .form-group .linear-center-v hr {
  border-top: 1px solid var(--border-rgba-color);
  flex-grow: 1;
  margin: 0;
}

/* Project Resources */
#projectResources.flex-column-container,
#projectPeople.flex-column-container {
  padding: 1rem 2rem;
}


/* || MEDIA QUERIES */

/* SM */
/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
  .example {background: green;}
}

/* Small devices (portrait tablets and large phones, 768px and below ) */
@media only screen and (max-width: 768px) {
  /* Admin */
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.inactive {
    margin-left: 0;
  }

  #sidebar.inactive ~ #content {
    margin-left: 250px;
  }
  
  #sidebarExpandToggler,
  #sidebarCollapseToggler span,
  #content .user-info,
  #content #user-display {
    display: none;
  }

  #sidebarCollapseToggler {
    display: block;
    margin-right: 10px;
  }

  #sidebar .sidebar-header .brand .brand-name {
    margin-left: 1rem;
  }
}


/* MD */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  /* Admin */
  #sidebar.inactive {
    min-width: 0;
  }

  #sidebar:not(.inactive) ~ #content {
    /* #sidebar:not(.inactive) ~ #projectPopup .mcontainer */
    margin-left: 250px;
  }

  #sidebar.inactive ~ #content {
    margin-left: 71.989px;
  }

  #sidebar.inactive .brand,
  #sidebar.inactive .collapsible, #sidebar.inactive .dropdown-toggle::after {
    display: none;
    transition: all .3s;
  }

  /* Projects stick actions */
  .nav-tab-container {
    position: sticky; 
    top: 0;
  }
}

/* Medium devices (landscape tablets, 992px and up) */
@media only screen and (max-width: 992px) {
  
} 

