/* || GENERAL STYLES */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans', sans-serif;
}

/* || ADMIN SITEWIDE */

/* Sidebar */
#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
    color: var(--inactive-text);
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    transition: all 0.3s;
}

#sidebar {
    flex-shrink: 0;
    min-width: 250px;
    max-width: 250px;
    background-color: var(--primary);
    color: var(--inactive-text);
    white-space: nowrap;
    box-shadow: 2px 0 var(--shadow-rbga-color);
    transition: all 0.3s;
    z-index: 100;
    overflow: hidden;
}

#sidebar .sidebar-header {
    padding: 1rem;
    background-color: rgba(80, 46, 175, .5);
    color: var(--inactive-text);
}

#sidebar .sidebar-header i {
    color: var(--inactive-text);
}

#sidebar .sidebar-header {
    position: relative;
    display: flex;
    align-content: center;
}

#sidebar .brand,
#sidebar .collapsible, 
#sidebar .dropdown-toggle::after {
    transform-origin: left center;
}

#sidebar .sidebar-header .brand .brand-icon {
    width: 30px;
    height: 30px;
    background-color: #E1D124;
    border: 1px solid var(--purple);

    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

#sidebar .sidebar-header .brand .brand-name {
    margin-left: 10px; 
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    display: block;
    width: 100%;
    padding: 10px 25px;
    font-size: 1.1rem;
}

#sidebar ul li a .material-icons {
    color: inherit;
    font-size: 20px;
    line-height: 1.4;
}

#sidebar ul li a .collapsible {
    margin-left: 20px;
}

#sidebar ul li a:hover {
    color: var(--primary) !important;
    background-color: white;
}

#sidebar ul li.active > a,
a[aria-expanded = "true"] {
    color: white !important;
    background-color: rgba(231, 233, 236, .2);
    border-left: 2px solid var(--purple);
}

a[data-toggle = "collapse"] {
    position: relative;
}

#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

#sidebar .sub-menu li a {
    padding-left: 30px;
    font-size: 0.9rem;
}

#sidebar .bottom-nav {
    border-top: 1px solid var(--border-rgba-color);
}

#sidebar.bottom-nav .sidebar-nav {
    margin-bottom: 0;
}

#sidebarCollapseToggler {
    display: none;
    transition: all 0.3s;
}

/* Content */
#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

/* Topbar */
#content .navbar {
  padding: 1rem;
  background-color: var(--light-blue);
  color: var(--secondary);
}

#content .navbar .user-info {
  text-align: right;
  margin-left: 30px;
  padding-left: 30px;
  padding-right: 10px;
  border-left: 1px solid var(--border-rgba-color);
}

#content .navbar .user-info h5 {
  margin: 0;
  font-size: 1rem;
  line-height: .5;
}

#content .nav.nav-tabs {
  padding: 15px 10px 0 10px;
}


#content .nav.nav-tabs .nav-link {
  color: var(--primary-text);
  font-weight: 200;
}

#content .nav.nav-tabs .nav-link:not(.active):hover {
  color: var(--action);
  font-weight: 400;
}

#content .nav.nav-tabs .active {
  color: var(--action);
  font-weight: 600;
}


#content main {
  height: 100%;
  background-color: white;
  padding: 20px;
}

/* Test */

/* .slide-in {
  display: block;
  animation: slide-in 1s;
}

.slide-out {
  display: block;
  animation: slide-out 1s;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: scaleX(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
    transform: scaleX(1);
  }
  to {
    opacity: 0;
    transform: scaleX(0);
  }
} */



/* || MEDIA QUERIES */

/* SM */
/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
  .example {background: green;}
}

/* Small devices (portrait tablets and large phones, 768px and below ) */
@media only screen and (max-width: 768px) {
  /* Admin */
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.inactive {
      margin-left: 0;
  }
  
  #sidebarExpandToggler,
  #sidebarCollapseToggler span,
  #content .user-info,
  #content #user-display {
      display: none;
  }

  #sidebarCollapseToggler {
    display: block;
    margin-right: 10px;
  }

  #sidebar .sidebar-header .brand .brand-name {
    margin-left: 1rem;
  }
}


/* MD */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  /* Admin */
  #sidebar.inactive {
    min-width: 0;
  }

  #sidebar.inactive .brand,
  #sidebar.inactive .collapsible, #sidebar.inactive .dropdown-toggle::after {
    display: none;
    transition: all .3s;
  }
}

/* Medium devices (landscape tablets, 992px and up) */
@media only screen and (max-width: 992px) {
  
} 
