/* || Home */
.chome-padding {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}

.image-overlay {
    height: 350px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.image-overlay .overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 3rem;
    background-color: var(--backdrop);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

#header .image-overlay .overlay-content .subtitle{
    width: 90%;
}

#header .image-overlay .overlay-content .action-btn.cta-button {
    max-width: 200px;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/* ServicesC */
#servicesC .about-us-content .card:hover{
    background-color: var(--primary); 
    color: whitesmoke;   
}

#servicesC .about-us-content .container{
    margin-bottom: 30px;
    text-align: center;
    width: 300;
}

/* contentC eper*/
#contentC {
    padding-left: 30px;

    text-align: right;
}

/* zoomEfferct*/
.zoomEffect{
    display:inline-block;
    border:30;
    position: relative;
    transition: all 200ms ease-in;
    transform: scale(1);   
    width: 100%;
}

.zoomEffect:hover{
    z-index: 2;   
    transition: all 200ms ease-in;
    transform: scale(1.2);
}