/* XS */
/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {

}


/* SM */
/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
  /* Utilities */
  .basis-sm-1 {
    flex-basis: 8.33333333333333%;
  }

  .basis-sm-2 {
    flex-basis: 16.66666666666667%;
  }

  .basis-sm-3 {
    flex-basis: 25%;
  }

  .basis-sm-4 {
    flex-basis: 33.33333333333333%;
  }

  .basis-sm-5 {
    flex-basis: 41.66666666666667%;
  }

  .basis-sm-6 {
    flex-basis: 50%;
  }

  .basis-sm-7 {
    flex-basis: 58.33333333333333%;
  }

  .basis-sm-8 {
    flex-basis: 66.66666666666667%;
  }

  .basis-sm-9 {
    flex-basis: 75%;
  }

  .basis-sm-10 {
    flex-basis: 83.33333333333333%;
  }

  .basis-sm-11 {
    flex-basis: 91.66666666666667%;
  }

  .basis-sm-12 {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .header-divider {
      display: none;
  }

  .header-image-container {
    clip-path: polygon(
      0% 100%, 
      100% 100%, 
      100% 0%, 
      0% 0%
    );
  }

  .about-img {
    height: 500px;
    padding-right: 0;
  }

  /* Admin */
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.inactive {
      margin-left: 0;
  }
  
  #sidebarExpandToggler,
  #sidebarCollapseToggler span,
  #content .user-info,
  #content #user-display {
      display: none;
  }

  #sidebarCollapseToggler {
    display: block;
    margin-right: 10px;
  }

  #sidebar .sidebar-header .brand .brand-name {
    margin-left: 1rem;
  }
}


/* MD */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  /* Admin */
  #sidebar.inactive {
    min-width: 0;
  }

  #sidebar.inactive .brand,
  #sidebar.inactive .collapsible, #sidebar.inactive .dropdown-toggle::after {
    display: none;
    /* opacity: 0; */
    /* transform: scaleX(0); */
    /* transform-origin:left center; */
    transition: all .3s;
  }
}

@media only screen and (max-width: 992px) {
  .about-img {
    height: 500px;
    padding-right: 0;
  }

  .about-us-content {
    padding: 37px 10% 0;
  }

  .form-contact-container {
    margin-top: 5%;
  }
} 




/* LG */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {background: orange;}
  
} 


/* XL */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
}

@media only screen and (min-width: 3000px) {
  .example {background: pink;}
  
}


/*
  code by Iatek LLC 2018 - CC 2.0 License - Attribution required
  code customized by Azmind.com
*/
@media (min-width: 768px) and (max-width: 991px) {
/* Show 4th slide on md if col-md-4*/
.carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;  /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
/* Show 3rd slide on sm if col-sm-6*/
.carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -50%;  /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
}
@media (min-width: 576px) {
.carousel-item {
    margin-right: 0;
}
/* show 2 items */
.carousel-inner .active + .carousel-item {
    display: block;
}
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
    transition: none;
}
.carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
}
/* left or forward direction */
.active.carousel-item-left + .carousel-item-next.carousel-item-left,
.carousel-item-next.carousel-item-left + .carousel-item,
.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
}
/* farthest right hidden item must be also positioned for animations */
.carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
}
/* right or prev direction */
.active.carousel-item-right + .carousel-item-prev.carousel-item-right,
.carousel-item-prev.carousel-item-right + .carousel-item,
.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
}
}
/* MD */
@media (min-width: 768px) {
/* show 3rd of 3 item slide */
.carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
}
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
}
.carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
}
/* left or forward direction */
.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
}
/* right or prev direction */
.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
}
}
/* LG */
@media (min-width: 991px) {
/* show 4th item */
.carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
}
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none;
}
/* Show 5th slide on lg if col-lg-3 */
.carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;  /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
}
/* left or forward direction */
.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
}
/* right or prev direction //t - previous slide direction last item animation fix */
.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
}
}