*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.wapper{
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e1e8ed;
  border-radius: 6px;
  height: 200px;
  width: 100%;
  max-width: 1500px;
  
}
.profile-bg{
  background-image: url("../images/bgheader.jpg");
  background-position: 0 50%;
  background-size: 100% auto;
  border-radius: 4px 4px 0px 0px;
  height: 25vh;
  width: 100%;

}
.profile-link{

  border-radius: 6px;
  display: inline-block;
  float: left;
  margin: -30px 5px 0px 8px;
  max-width: 100%;
  padding: 5px;
  vertical-align: bottom;
  padding-left: 10px;
}
.profile-img{
  border-radius: 50%;
  color: #fff;
  height: 144px;
  width: 144px;
  padding-left: 10px;
}
.profile-marg{
  margin: 5px 0px 0px;
}
.profile-name{
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
.profile-name a{
  color: inherit;
}
.profile-state{
  padding: 15px;
}
.profile-arrange{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  min-width: 100%;
  padding: 0px;
}
ul.profile-arrange{
  list-style: none;
  margin: 0;
  padding: 0;
}
.profile-details a:hover{
  text-decoration: none;
}
.profile-number{
  display: block;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.15s ease-in-out 0s;

}
.profile-label{
  color: #8899a6;
  font-size: 10px;
  letter-spacing: 0.02em;
  overflow: hidden;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out 0s;
}
.perfile-name{
  margin-left: 30;
}
.perfile-name h2{
  color: white;
  
}
.perfile-name p{
  font-size: 20px;
}

.profile-details{
  display: grid;
  height: 20vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 02fr 1.5fr 1.2fr .8fr;
  
  padding-top: 5%;
  

}
.profile-details h6{
  color: var(--sidebar-bg);
  margin-bottom: 9%;
}
.side-icon{
  cursor: pointer;
}