:root {
     /* Sidebar Color */
     --sidebar-bg: #3D3DBB;
     --sidebar-text: #E2D1FF;
     --sidebar-text-active: white;
     --sidebar-active-tab-border: #FF00FF;
     --sidebar-active-tab-bg: rgba(231,233,236, .2);
     --sidebar-tab-hover: white;
     --sidebar-tab-hover-text: var(--sidebar-bg);

     /* Client */
     --sibedar-bg-client: #F2F2FF;
     --sidebar-text-client: var(--primary-text);
     --sidebar-tab-hover-client: #E7E9EC;
     --sidebar-active-tab-bg-client: var(--sidebar-tab-hover-client);
     --sidebar-active-tab-border-client: var(--palette1);
}

/* || Sidebar */

/* Default */

#sidebar {
    max-width: 250px;
    transition: all .3s ease-out;
}

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
    color: var(--sidebar-text);
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    background-color: var(--sidebar-bg);
    z-index: 150;
}

#sidebar .sidebar-header i, 
#sidebar .sidebar-header #sidebarExpandToggler.icon-btn,
#sidebar ul li a .material-icons {
  color: var(--sidebar-text);
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul li a {
  display: block;
  width: 100%;
  padding: 10px 1rem;
  font-size: 1rem;
}

#sidebar ul li a .material-icons {
  font-size: 20px;
  line-height: 1.4;
}

#sidebar ul li:not(.active) a:hover, #sidebar ul li:not(.active) a:hover .material-icons {
  color: var(--sidebar-tab-hover-text) !important;
}

#sidebar ul li:not(.active) a:hover {
  background-color: var(--sidebar-tab-hover);
}

#sidebar ul li.active a .material-icons {
  color: var(--sidebar-text-active) !important;
}

#sidebar ul li.active > a,
#sidebar ul li.active .dropdown-tile a,
#sidebar ul li a[aria-expanded = "true"] {
  color: var(--sidebar-text-active) !important;
  background-color: var(--sidebar-active-tab-bg);
  border-left: 2px solid var(--sidebar-active-tab-border);
  font-weight: 600;
}

a[data-toggle = "collapse"] {
  position: relative;
}

#sidebar .sub-menu li a {
  padding-left: 30px;
  font-size: 0.9rem;
}

#sidebar .collapsible {
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    transition: width .15s;
}

#sidebar .collapsible > span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.wrapper #sidebar.active .collapsible {
    width: 250px;
}

/* Sidebar Client */

#sidebar[data-user='client'] a,
#sidebar[data-user='client'] a:hover,
#sidebar[data-user='client'] a:focus {
    color: var(--sidebar-text-client);
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar[data-user='client'] {
    background-color: var(--sibedar-bg-client);
    min-width: 250px;
}


#sidebar[data-user='client'] ul li:not(.active) a:hover {
    background-color: var(--sidebar-tab-hover-client);
}
  
#sidebar[data-user='client'] ul li.active > a,
#sidebar[data-user='client'] ul li.active .dropdown-tile a,
#sidebar[data-user='client'] ul li a[aria-expanded = "true"] {
    color: var(--sidebar-text-client) !important;
    background-color: var(--sidebar-active-tab-bg-client);
    border-left: 2px solid var(--sidebar-active-tab-border-client);
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    /* Sidebar */
    #sidebar .collapsible {
        width: 250px;
    }

    .wrapper:has(#sidebar.active) {
        margin-left: 0;
        animation: none;
    }

    .wrapper, .wrapper:has(#sidebar:not(.active)) {
        margin-left: -250px;
        animation: none;
    }

    /* .wrapper:has(#sidebar[data-user='client'].active) {
        margin-left: 0;
        animation: none;
    } */

    .wrapper, .wrapper:has(#sidebar[data-user='client']:not(.active)) {
        margin-left: 0;
        animation: none;
    }
}