:root {
  /* Colors */
  --primary: #5215FC;

  --primary-text: #161616;
  --complementary-text: #FFFF00;

  --input-field: #E6E3DD;
  --input-field-focus: #fff;

  /* Texts Size */
  --input-padding-x: .5rem;
  --input-padding-y: .5rem;

  --small-text: .75rem;
  --normal-text: 1rem;
}

body {
  background-color: #f4f4f4;
  color: var(--primary-text);
  /* max-width: 1366px; */
  /* margin: auto; */
  position: relative;
  /* box-shadow: 10px 0 8px -5px #e9e1ff, -10px 0 8px -5px #e9e1ff; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  line-height: 1.28;
}

input, textarea {
  background-color: var(--input-field) !important;
}

p {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.flex-wrapper {
  display: flex;
  align-content: stretch;
  background-color: red;
  height: 100%;
}